@import 'fonts'
@import 'helpers/libs'
@import 'helpers/vars'

*, *::after, *::before
  box-sizing: border-box

a
  outline: none
  text-decoration: none

h1, h2, h3, h4, h5, h6
  padding: 0
  margin: 0

ul,li
  margin: 0
  padding: 0
  list-style-type: none

p, pre
  margin: 0

input,
select,
button
  outline: none

.clearfix
  &::after
    content: ""
    display: block
    clear: both

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden
  margin: 0
  padding: 0
  color: $main-color-dark

.container
  width: 100%
  max-width: 1170px
  margin: 0 auto

.button
  width: 180px
  height: 50px
  display: inline-block
  font-weight: 500
  text-transform: uppercase
  border: 1px solid white
  padding: 10px
  transition: all 0.3s ease
  &:hover
    background-color: $main-color

.button_offset
  margin-right: 30px

.button_yellow
  background-color: $main-color
  border: none
  &:hover
    background-color: #fff
    color: $main-color
    border: none

.menu__hamburger
  margin-right: 15px

.menu
  cursor: pointer

.hamburger
  display: none
  vertical-align: middle

.hamburger__box
  width: 50px
  height: 50px
  position: relative
  border: 2px solid #fff
  border-radius: 50%

.hamburger__inner, .hamburger__inner::before, .hamburger__inner::after
  width: 25px
  height: 4px
  background-color: #fff
  position: absolute
  border-radius: 4px
  transition: all 0.15s ease

.hamburger__inner::before, .hamburger__inner::after
  content: ''
  display: block

.hamburger__inner
  top: 22px
  left: 11px

.hamburger__inner.is-active
  transform: rotate(45deg)

.hamburger__inner.is-active::before
  top: 0

.hamburger__inner.is-active::after
  transform: rotate(90deg)
  top: 0

.hamburger__inner::before
  top: -8px

.hamburger__inner::after
  top: 8px

.navigation
  position: fixed
  z-index: 1
  right: 30px
  top: 45%

.navigation__item
  display: block
  width: 6px
  height: 6px
  background-color: #fff
  margin-bottom: 14px

.navigation_dark
  .navigation__item
    background-color: $main-color
  .navigation__item_active
    background-color: #c7923d

.navigation__item_active
  width: 10px
  height: 10px
  background-color: $main-color
  margin-left: -2px

.header
  background: url(../img/header/header_background.jpg) center no-repeat
  background-size: cover
  min-height: 846px
  position: relative

.top-line
  width: 100%
  min-height: 60px
  color: #fff
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  font-size: 14px
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)

.header__information
  float: left
.social
  float: right


.company__telephone
  color: #fff
  margin-right: 30px
  padding-left: 20px
  position: relative
  cursor: pointer
  opacity: 0.8
  transition: all 0.25s ease
  &:hover
    opacity: 1
  &::before
    display: block
    content: ""
    width: 12px
    height: 12px
    position: absolute
    left: 0
    top: 2px
    background-image: url("../img/svg/phone-receiver.svg")
    background-repeat: no-repeat
    background-size: 100%

.company__address
  color: #fff
  padding-left: 20px
  position: relative
  cursor: pointer
  opacity: 0.8
  transition: all 0.25s ease
  &:hover
    opacity: 1
  &::before
    display: block
    content: ""
    width: 12px
    height: 12px
    position: absolute
    left: 0
    top: 2px
    background-image: url("../img/svg/placeholder.svg")
    background-repeat: no-repeat
    background-size: 100%

.social__item
  width: 14px
  height: 14px
  display: inline-block
  margin-right: 28px
  cursor: pointer
  background-image: url("../img/header/social_sprite.png")
  background-repeat: no-repeat
  background-position: 0 0
  opacity: 0.8
  transition: all 0.2s ease
  &:hover
    opacity: 1
  &:last-child
    margin-right: 0


.social__item_twitter
  background-position: 0 0
.social__item_facebook
  background-position: -38px 0
.social__item_youtube
  background-position: -77px 0
.social__item_instagram
  background-position: -119px 0
.social__item_flickr
  background-position: -158px  0

.second-line
  width: 100%
  min-height: 78px
  color: #fff
  text-transform: uppercase
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-end
  font-size: 14px
  font-weight: 500
  margin-bottom: 260px
  position: relative

.logo
  width: 132px
  height: 48px
  background: url("../img/header/logo.png") 0 0 no-repeat

.header__menu
  margin-bottom: 15px

.menu__item
  display: inline-block

.menu__link
  padding: 41px 15px 20px
  &:hover
    color: $main-color
  &:last-child
    padding-right: 0

.menu__item_active
  border-top: 2px solid $main-color

.menu__link
  color: #fff

.promo
  color: #fff
  text-align: center

.promo__title
  font-weight: 500
  font-size: 66px
  display: block
  line-height: 1.3

.text_yellow
  display: inline
  color: $main-color

.promo__text
  margin-bottom: 35px

.section
  padding-top: 110px

.section-services
  background: url("../img/section_services/background_layer.png") 0 -245px no-repeat
  background-size: cover

.section__title
  font-size: 48px
  font-family: $title-font
  text-align: center
  line-height: 1.4

.section__sub-title
  text-align: center
  margin: 0 10px

.tabs
  margin-top: 70px
  margin-bottom: 110px

.tabs__item
  display: inline-block
  margin-right: 29px
  &:last-child
    margin-right: 0

.tabs__list
  margin: 0 70px 60px
  text-align: center

.tabs__link
  display: block
  width: 180px
  height: 172px
  vertical-align: middle
  padding-top: 120px
  text-align: center
  color: $main-color-dark
  text-transform: uppercase
  font-size: 18px
  font-weight: 500
  position: relative
  &::before
    content: ""
    display: block
    width: 40px
    height: 40px
    position: absolute
    top: 50px
    left: 40%


.tabs__link_about
  &::before
    background: url("../img/svg/document.svg") 0 0 no-repeat
    background-size: 100%
.tabs__link_wedding
  &::before
    background: url("../img/svg/heart.svg") 0 0 no-repeat
    background-size: 100%
.tabs__link_party
  &::before
    background: url("../img/svg/cake.svg") 0 0 no-repeat
    background-size: 100%
.tabs__link_beauty-box
  &::before
    background: url("../img/svg/shopping-bag.svg") 0 0 no-repeat
    background-size: 100%
.tabs__link_course
  &::before
    background: url("../img/svg/notebook.svg") 0 0 no-repeat
    background-size: 100%

.tab_active
  background-color: #fff !important

.fragment
  flex-wrap: wrap
  justify-content: space-between
  display: none

.fragment_active
  display: flex

.fragment__image
  box-shadow: 10px 10px 0px 0px $main-color
  max-width: 680px
  margin-bottom: 40px

.fragment__info
  max-width: 470px
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 35px

.fragment__title
  font-family: $title-font
  font-size: 24px
  font-weight: 500
  line-height: 36px
  margin-bottom: 10px

.fragment__description
  font-weight: 400
  line-height: 26px
  margin-bottom: 10px

.fragment__link
  color: $main-color
  font-size: 18px
  font-weight: 500
  text-transform: uppercase

.fragment__arrow
  font-size: 25px

.section-gallery
  min-height: 800px
  background: url("../img/section_gallery/background.jpg") 0 0 no-repeat
  background-size: cover

.gallery-slider
  margin: 490px auto 0
  position: relative

.gallery-slider__item
  max-width: 970px
  margin: 0 100px
  padding: 30px 0
  background-color: #fff
  display: flex !important
  flex-wrap: wrap
  justify-content: center

.gallery-slider__date
  text-align: center
  width: 15%
  font-size: 32px
  font-weight: 500
  font-family: $title-font
  position: relative
  border-right: 2px solid $main-color-dark
  margin-right: 30px
  &::before
    content: ""
    display: block
    width: 24px
    height: 24px
    position: absolute
    top: 55px
    left: 40%
    background: url("../img/svg/yellow_heart.svg") 0 0 no-repeat
    background-size: 100%

.gallery-slider__info
  width: 65%
  font-weight: 400
  line-height: 26px

.gallery-slider__control
  font-size: 30px
  color: #fff
  position: absolute
  top: 35px
  z-index: 1
  cursor: pointer
  &.slick-disabled
    opacity: 0.7

.gallery-slider__prev
  left: 30px

.gallery-slider__next
  right: 30px


@import "helpers/media"
