doctype html
html
    head

        meta(charset="utf-8")
        title Title
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")

        meta(property="og:image" content="path_to_image")
        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

        link(rel="stylesheet" type='text/css' href="css/main.css")

        <!-- Chrome, Firefox OS and Opera -->
        meta(name="theme-color" content="#000")
        <!-- Windows Phone -->
        meta(name="msapplication-navbutton-color" content="#000")
        <!-- iOS Safari -->
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

    body
        div.navigation
            a.navigation__item.navigation__item_active(href="#")
            a.navigation__item(href="#")
            a.navigation__item(href="#")
            a.navigation__item(href="#")
            a.navigation__item(href="#")
        header.header
            div.top-line
                div.container.clearfix
                    div.header__information
                        a.company__telephone(href="tel:+84906582725") +84 90 658 2725
                        span.company__address 27 Ba Trieu St, Vietnam
                    div.social
                        div.social__item.social__item_twitter
                        div.social__item.social__item_facebook
                        div.social__item.social__item_youtube
                        div.social__item.social__item_instagram
                        div.social__item.social__item_flickr
            div.container
                div.second-line
                    div.logo.header__logo

                    nav.menu.header__menu
                        ul.menu__list
                            li.menu__item
                                a.menu__link.menu__item_active(href="#") Home
                            li.menu__item
                                a.menu__link(href="#") Service
                            li.menu__item
                                a.menu__link(href="#") Gallery
                            li.menu__item
                                a.menu__link(href="#") Channel
                            li.menu__item
                                a.menu__link(href="#") Blog
                            li.menu__item
                                a.menu__link(href="#") Team
                            li.menu__item
                                a.menu__link(href="#") Contact

                    div.hamburger.menu__hamburger
                        div.hamburger__box
                            div.hamburger__inner
                div.promo
                    h1.promo__title It’s #[.text_yellow Fun] To Make Things Up
                    p.promo__text Have you ever wondered if what you know about herbal breast enlargement is accurate?
                    div.button__wrapper
                        div.button.button_offset About Us
                        div.button.button_yellow.button_with-icon Watch Video








        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")
