doctype html
html
    head

        meta(charset="utf-8")
        title Title
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")

        meta(property="og:image" content="path_to_image")
        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

        link(rel="stylesheet" type='text/css' href="css/main.css")

        <!-- Chrome, Firefox OS and Opera -->
        meta(name="theme-color" content="#000")
        <!-- Windows Phone -->
        meta(name="msapplication-navbutton-color" content="#000")
        <!-- iOS Safari -->
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

    body
        div.navigation
            a.navigation__item.navigation__item_active(href="#")
            a.navigation__item(href="#")
            a.navigation__item(href="#")
            a.navigation__item(href="#")
            a.navigation__item(href="#")
        header.header
            div.top-line
                div.container.clearfix
                    div.header__information
                        a.company__telephone(href="tel:+84906582725") +84 90 658 2725
                        span.company__address 27 Ba Trieu St, Vietnam
                    div.social
                        div.social__item.social__item_twitter
                        div.social__item.social__item_facebook
                        div.social__item.social__item_youtube
                        div.social__item.social__item_instagram
                        div.social__item.social__item_flickr
            div.container
                div.second-line
                    img.logo.header__logo(src="../img/header/logo.png" srcset="../img/header/logo@2x.png 2x" alt="Company logo")
                    nav.menu.header__menu
                        ul.menu__list
                            li.menu__item
                                a.menu__link.menu__item_active(href="#") Home
                            li.menu__item
                                a.menu__link(href="#section-service") Service
                            li.menu__item
                                a.menu__link(href="#section-gallery") Gallery
                            li.menu__item
                                a.menu__link(href="#section-channel") Channel
                            li.menu__item
                                a.menu__link(href="#section-blog") Blog
                            li.menu__item
                                a.menu__link(href="#section-contact") Contact
                    div.hamburger.menu__hamburger
                        div.hamburger__box
                            div.hamburger__inner
                div.promo
                    h1.promo__title It’s #[.text_yellow Fun] To Make Things Up
                    p.promo__text Have you ever wondered if what you know about herbal breast enlargement is accurate?
                    div.button__wrapper
                        div.button.button_offset About Us
                        div.button.button_yellow.button_with-icon Watch Video








        main.page
            section.section.section-services#section-service
                div.container
                    h2.section__title Our Services
                    p.section__sub-title Vastly improved treatments and increased social acceptance has lead to cosmetic
                    div.tabs#tabs
                        ul.tabs__list
                            li.tabs__item
                                span.tabs__link.tabs__link_about#tab_about(data-tab="#fragment_about") About
                            li.tabs__item
                                span.tabs__link.tabs__link_wedding.tab_active#tab_wedding(data-tab="#fragment_wedding") Wedding
                            li.tabs__item
                                span.tabs__link.tabs__link_party#tab_party(data-tab="#fragment_party") Party
                            li.tabs__item
                                span.tabs__link.tabs__link_beauty-box#tab_beauty-box(data-tab="#fragment_beauty-box") Beauty Box
                            li.tabs__item
                                span.tabs__link.tabs__link_course#tab_course(data-tab="#fragment_course") Course
                        div.fragment#fragment_about
                            img.fragment__image(src="../img/section_services/about_photo.jpg" alt="About photo")
                            div.fragment__info
                                h3.fragment__title Blot Immediately After Applying Your Foundation
                                p.fragment__description Concealer-Gently dot concealer and blend using your finger or concealer brush around the under-eye area. Seal coverage by lightly sweeping the area with a small powder brush dusted with sheer, loose powder.
                                a.fragment__link(href="#") Learn More #[span.fragment__arrow &rarr;]
                        div.fragment.fragment_active#fragment_wedding
                            img.fragment__image(src="../img/section_services/wedding_photo.jpg" alt="Wedding photo")
                            div.fragment__info
                                h3.fragment__title To Keep Makeup Looking Fresh #[br] Take A Powder
                                p.fragment__description Hydroderm is the highly desired anti-aging cream on the block. This serum restricts the occurrence of early aging sings on the skin and keeps the skin younger, tighter and healthier.
                                a.fragment__link(href="#") Learn More #[span.fragment__arrow &rarr;]
                        div.fragment#fragment_party
                            img.fragment__image(src="../img/section_services/party_photo.jpeg" alt="Party photo")
                            div.fragment__info
                                h3.fragment__title Opt For A Lip Stain
                                p.fragment__description Cream Blush-I am a firm believer that less is more…especially with cream products. Because of its consistency, it is the nature of cream blush to move on the face. One way to prevent this from happening is to apply a dusting of sheer loose powder over the cheeks after you have applied the blush to keep it where it belongs-on your cheeks.
                                a.fragment__link(href="#") Learn More #[span.fragment__arrow &rarr;]
                        div.fragment#fragment_beauty-box
                            img.fragment__image(src="../img/section_services/beauty-box_photo.jpeg" alt=" Beauty box photo")
                            div.fragment__info
                                h3.fragment__title Use A Mattifying Sunscreen
                                p.fragment__description Eyeliner-Eyeliner smudges by nature, but tends to look sexier when slightly imperfect. Rather than using black, which can look harsh, I often recommend trying navy blue.
                                a.fragment__link(href="#") Learn More #[span.fragment__arrow &rarr;]
                        div.fragment#fragment_course
                            img.fragment__image(src="../img/section_services/course_photo.jpg" alt="Course photo")
                            div.fragment__info
                                h3.fragment__title Choose The Right Primer For Your Skin
                                p.fragment__description Lipstick/Lip Gloss-There are products on the market made specifically to prevent feathering, and a secret trick of mine that I always use if I don’t have my Lip Glossing/No Feather Pencil on me is to dab foundation on your fingertip and smooth it over your lip line. This smooths out any lines around the mouth and provides an even surface for lip color to adhere…and stick to.
                                a.fragment__link(href="#") Learn More #[span.fragment__arrow &rarr;]
            section.section.section-gallery#section-gallery
                div.container
                    div.gallery-slider
                        div.gallery-slider__prev.gallery-slider__control &larr;
                        div.gallery-slider__next.gallery-slider__control &rarr;
                        div.gallery-slider-js
                            div.gallery-slider__item
                                div.gallery-slider__date Sep 24
                                div.gallery-slider__info Have you ever wondered if what you know about herbal breast enlargement is accurate? Consider the following paragraphs and compare what you know to the latest info on herbal breast enlargement. Women are often not happy with their breast size...
                            div.gallery-slider__item
                                div.gallery-slider__date Jul 06
                                div.gallery-slider__info Real teas come from the tea plant Camellia Sinensis, whilst herbal teas are in truth infusions or tisanes made from herbs, namely dried or fresh leaves, flowers, grasses, barks, roots, seeds or fruits.
                            div.gallery-slider__item
                                div.gallery-slider__date Feb 06
                                div.gallery-slider__info However, be aware that guarana tea and yerba mate tea do contain caffeine. In fact, yerba mate has almost as much caffeine as coffee!
                            div.gallery-slider__item
                                div.gallery-slider__date Apr 11
                                div.gallery-slider__info Are you a fan of fruity tea? If you are, you must be careful because most of the times these blends or flavored teas are nothing more than fruit flavor mixed with real tea leaves, which do contain caffeine.
                            div.gallery-slider__item
                                div.gallery-slider__date Sep 01
                                div.gallery-slider__info Despite the innumerous health benefits they offer you, some herbal teas do have side effects that may lead, for example, to allergic reactions, namely shortness of breath, chest pain, hives or swelling.



            section.section.section-channel#section-channel
                div.container
                    h2.section__title Channel
                    p.section__sub-title Vastly improved treatments and increased social
                    div.channel__video
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/1p-sBSqW7tw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    div.button__wrapper.button__wrapper_center
                        div.button.button_yellow More video
            section.section.section-blog#section-blog
                div.container
                    h2.section__title Latest Blog
                    div.filter
                        div.filter__btn.filter__btn_active#article_all all
                        div.filter__btn#article_reviews reviews
                        div.filter__btn#article_looks looks
                        div.filter__btn#article_lifestyles lifestyles
                        div.filter__btn#article_tips tips
                        div.filter__btn#article_tutorials tutorials
                    div.article__wrapper#article__wrapper
                        div.article.article_wide.article_reviews
                            img.article__image(src="../img/section_blog/article_image_1.jpg" alt="Article photo")
                            p.article__description Hollywood Hairstyles Do Not Require A Trip To A High Priced #[br]Salon Or Beautician
                            span.article__date Eugenia Frank / April 22
                        div.article.article_looks.article_tutorials.article_tips
                            img.article__image(src="../img/section_blog/article_image_2.jpg" alt="Article photo")
                            p.article__description Forehead Lift Brow Lift Temporal Lift For Head Rejuvenation
                            span.article__date Eugenia Frank / April 22
                        div.article.article_lifestyles.article_looks
                            img.article__image(src="../img/section_blog/article_image_3.jpg" alt="Article photo")
                            p.article__description Breast Enlargement Exercises Cheapest Inborn Sense Promoting Breast Lump
                            span.article__date Eugenia Frank / April 22
                        div.article.article_looks.article_tutorials
                            img.article__image(src="../img/section_blog/article_image_4.jpg" alt="Article photo")
                            p.article__description Curling Irons Are As Individual As The Women Who Use Them
                            span.article__date Eugenia Frank / April 22
                        div.article.article_tips.article_lifestyles
                            img.article__image(src="../img/section_blog/article_image_5.jpg" alt="Article photo")
                            p.article__description Hollywood Hairstyles Do Not Require A Trip To A High Priced Salon Or Beautician
                            span.article__date Eugenia Frank / April 22
                    div.button__wrapper.button__wrapper_center
                        div.button.button_black See more






            section.section.section-contact#section-contact
                div.container
                    h2.section__title Contact
                    p.section__sub-title Vastly improved treatments and increased social
                    ul.contant__list
                      li.contact__item.contact__item_address
                        span.contact__title address
                        span.contact__info 27 Ba Trieu St. Hue, Vietnam
                      li.contact__item.contact__item_phone
                        span.contact__title phone numbers
                        span.contact__info +84 90 658 2725
                      li.contact__item.contact__item_email
                        span.contact__title email contact
                        span.contact__info junoteamvn@gmail.com
        footer.footer
            div.container
                nav.menu.footer__menu
                    ul.menu__list.footer__menu-list
                        li.menu__item
                            a.menu__link(href="#") Home
                        li.menu__item
                            a.menu__link(href="#section-service") Service
                        li.menu__item
                            a.menu__link(href="#section-gallery") Gallery
                        li.menu__item
                            a.menu__link(href="#section-channel") Channel
                        li.menu__item
                            a.menu__link(href="#section-blog") Blog
                        li.menu__item
                            a.menu__link(href="#section-contact") Contact
                div.logo.footer__logo
                div.social-list
                    a.social__link(href="www.facebook.com/") facebook
                    a.social__link.social__link_underline(href="www.instagram.com/") instagram
                    a.social__link(href="www.youtube.com/") youtube

        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")

